.header {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin-left: 15px;
}

.nav-link {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.create-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.search-input {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 5px;
}

.avatar {
  position: relative;
  cursor: pointer;
}

.header__auth {
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.header__right .avatar {
  position: relative;
}





  